doctype html
html(lang="ja")
  head
    title="rolling"
    link(rel="stylesheet", href="a.css")
    script(type='text/javascript').
      console.log("hello")
  body
    .bank
      - for (i = 1; i <= 12; i++)
        .rotation
          .move
            .rotation-follow
              .bank-follow
                //- https://pugjs.org/language/attributes.html
                .ball(data-hoge=i)