*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  font-size: calc(0.8em + 1vw);
  background-color: #c2b295;
  /* VARIABLES */
  --color-blue: #005899;
  --color-red: #d12312;
  --color-yellow: #f6cf31;
  --color-grey: #ced5dd;
  --color-black: black;
  --color-white: white;
  --canvas-size: 20rem;
}
body {
  height: 100vh;
  display: grid;
  justify-items: center;
  align-items: center;
}
main {
  margin: auto;
  display: flex;
  flex-direction: column;
}

#grid {
  background-color: var(--color-black);
  display: grid;
  width: var(--canvas-size);
  height: var(--canvas-size);
  grid-gap: 8px;
}
figcaption {
  margin: 0.5rem;
  color: grey;
  line-height: 1rem;
  color: white;
  font-size: 0.6rem;
  letter-spacing: 0.05rem;
  font-family: sans-serif;
  text-align: center;
}
figcaption a {
  color: currentColor;
}
figcaption a:hover {
  color: #0f0;
}
button {
  font-size: 1rem;
  padding: 1rem 2rem;
  border: 2px solid currentColor;
  background: transparent;
  border-radius: 50px;
  color: white;
  letter-spacing: 0.05rem;
}
button:hover {
  cursor: pointer;
}
button:active {
  transform: translate(0.1rem, 0.1rem);
}
